/*Set default background to black and text to white*/
body {
    background-color: black;
    color: white; /*Set color to white*/
    margin: 0; /*Remove default margins for full blackout*/
    padding: 0; /*Remove default padding for full blackout*/
    height: 100vh; /*Full viewport height */
    display: flex; /*Centers content vertically and horizontally*/
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
}
#title, #instruction {
    position: absolute;
    text-align: center;
    color: white;
    display: none;
}
#guess-form {
    position: absolute;
    text-align: center;
    color: white;
    position: absolute;
    display: none;
}

.used-photo {
    width: 200px;
    height: auto;
    margin: 10px;
    
}



img {
    max-height: 800px;  /* Set a max height for images */
    width: auto;  /* Maintain aspect ratio */
    object-fit: contain;  /* Ensure the entire image fits inside the container */
  }